**TASK-7A: Please apply one-hot encoding method on one of the categorical variables (not SEX/gender) for the given AD dataset. Please explain what kind of transformation occured on the dataset.**

In [1]:
import pandas as pd

data = pd.read_excel("Temporary_data3_Left_Right_Copy.xlsx")

In [2]:
data.head()

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,2,18,1,1,1,1,1,0,0,0,...,27.9038,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947
1,1,11,1,1,1,1,1,0,0,0,...,29.0600,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300
2,2,16,1,1,1,1,1,10,0,1,...,33.0000,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000
3,1,14,1,1,1,0,1,0,0,1,...,31.6800,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000
4,1,16,1,1,2,0,1,50,0,0,...,28.0631,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527

In [3]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

data['RESIDENC']=data['RESIDENC'].astype('category')

In [4]:

print(data['RESIDENC'].unique())

[1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]

In [5]:
data['RESIDENC'].value_counts()

1    1219
2     119
3      14
4       2
Name: RESIDENC, dtype: int64

In [6]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['RESIDENC'])
print(one_hot_encoded_data)

      SEX  EDUC  MARISTAT  INDEPEND  NACCFAM  ANYMEDS  SMOKYRS  NACCTBI  \
0       2    18         1         1        1        1        0        0
1       1    11         1         1        1        1        0        0
2       2    16         1         1        1        1       10        0
3       1    14         1         1        0        1        0        0
4       1    16         1         1        0        1       50        0
...   ...   ...       ...       ...      ...      ...      ...      ...
1349    1    20         1         1        1        1        0        0
1350    1    16         1         2        0        1        0        0
1351    2    14         2         1        1        1        0        0
1352    2    20         3         1        1        1       25        0
1353    2    14         1         1        1        1       10        0

      DIABETES  ALCOHOL  ...  RSUPTEM  RSUPTEMM  RSUPMAR  RSUPMARM  RTRTEM  \
0            0        0  ...  13.4250    1.7419   9.8700    1.6792  0.8906
1            0        0  ...  14.8800    2.3000   7.2700    1.8900  1.3800
2            1        0  ...  16.2300    2.0700  10.1100    1.8400  1.0100
3            1        0  ...  15.1100    1.6400  10.3900    1.8300  0.7400
4            0        0  ...  13.3763    1.6270   7.5844    1.4595  0.6638
...        ...      ...  ...      ...       ...      ...       ...     ...
1349         0        0  ...  14.1128    2.8833   9.3176    2.3582  0.6735
1350         0        0  ...  10.7880    1.9027  10.2034    2.0484  0.7267
1351         0        0  ...  12.6600    1.9900   9.4800    1.7400  1.1800
1352         0        0  ...  13.7700    2.1000  11.1200    2.1400  1.3100
1353         0        0  ...  13.9600    2.2000   9.9600    1.8600  0.8300

      RTRTEMM  RESIDENC_1  RESIDENC_2  RESIDENC_3  RESIDENC_4
0      1.1947           1           0           0           0
1      2.0300           1           0           0           0
2      1.5000           1           0           0           0
3      1.1000           1           0           0           0
4      0.8527           0           1           0           0
...       ...         ...         ...         ...         ...
1349   1.0270           1           0           0           0
1350   0.7946           1           0           0           0
1351   1.5900           1           0           0           0
1352   1.5200           1           0           0           0
1353   1.6500           1           0           0           0

[1354 rows x 189 columns]

**TASK-7B: Please provide a couple of pivot tables in order to illustrate how SEX variable is influential on our target array (CDRGLOB). Please provide a few multidimensional analyses (not limited to two variables).**

In [7]:
data.pivot_table('CDRGLOB', index='SEX', columns='EDUC')

EDUC,0,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
SEX,,,,,,,,,,,,,,,,,,,,,
1,3.0,1.000000,1.0,2.0,1.5,1.0,2.25,1.461538,0.666667,0.800000,...,0.78400,1.000000,0.772358,0.791667,0.905882,1.0,1.0,1.5,0.0,NaN
2,1.0,1.333333,1.5,2.0,1.0,0.5,0.60,1.076923,0.666667,1.285714,...,0.51087,0.466667,0.464789,0.125000,0.480000,1.0,0.0,NaN,NaN,0.0

In [8]:
data.pivot_table('CDRGLOB', index='SMOKYRS', columns=['SEX','NACCAPOE']).T

SMOKYRS             0         1         2    3         4         5         6   \
SEX NACCAPOE
1   1         0.852113  1.000000  0.333333  0.5  0.333333  0.666667  0.000000
    2         0.935065  1.000000       NaN  0.5  0.750000  0.875000  1.000000
    3         0.562500       NaN  0.000000  NaN       NaN  0.000000       NaN
    4         1.320000       NaN  1.000000  3.0       NaN  0.000000  1.000000
    5         1.000000       NaN       NaN  0.0       NaN       NaN  0.000000
2   1         0.517241  0.666667  0.000000  0.4  0.333333  0.285714  0.666667
    2         0.715278  0.600000  0.000000  0.0  0.000000  0.666667  0.666667
    3         0.351852  0.333333       NaN  0.0       NaN  1.000000       NaN
    4         1.047619       NaN       NaN  0.0       NaN  0.000000  2.000000
    5         0.800000       NaN  2.000000  NaN       NaN  0.000000       NaN
    6         0.000000       NaN       NaN  NaN       NaN       NaN       NaN

SMOKYRS        7         8    9   ...   53   55   56   57   58   60   61   62  \
SEX NACCAPOE                      ...
1   1         0.0  0.666667  1.0  ...  3.0  0.0  NaN  NaN  NaN  1.0  1.0  NaN
    2         2.0  1.000000  NaN  ...  1.5  0.0  NaN  1.0  1.0  NaN  NaN  0.0
    3         NaN       NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    4         1.0       NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    5         NaN       NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  2.0  NaN  NaN
2   1         0.0  0.000000  NaN  ...  0.5  NaN  NaN  NaN  NaN  NaN  NaN  0.0
    2         NaN       NaN  NaN  ...  NaN  NaN  1.0  NaN  NaN  1.0  NaN  NaN
    3         NaN  0.000000  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    4         NaN  0.000000  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    5         NaN       NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    6         NaN       NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

SMOKYRS        65   66
SEX NACCAPOE
1   1         NaN  1.0
    2         1.0  NaN
    3         NaN  NaN
    4         NaN  NaN
    5         NaN  NaN
2   1         NaN  NaN
    2         1.0  NaN
    3         NaN  NaN
    4         NaN  NaN
    5         NaN  NaN
    6         NaN  NaN

[11 rows x 62 columns]

In [9]:
data.pivot_table('CDRGLOB', index='SEX', columns='NACCBRNV')

NACCBRNV,697.029,709.073,737.519,744.778,751.830,758.270,759.296,759.470,763.983,766.932,...,1291.308,1306.606,1332.910,1343.681,1352.018,1361.110,1361.561,1364.305,1367.365,1401.835
SEX,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**TASK-7C: Referring to the problem in part B, please provide a potential solution to the gender-based issue that appears as a bottleneck for the model development phase. One possible solution might be to provide normalization of the numeric columns with respect to the total brain volume (NACCBRNV column).**

In [10]:
data['NORMD_NACCBRNV']=(data['NACCBRNV']-data['NACCBRNV'].min())/(data['NACCBRNV'].max()-data['NACCBRNV'].min())
data.pivot_table('CDRGLOB', index='SEX', columns='NORMD_NACCBRNV')

NORMD_NACCBRNV,0.000000,0.017088,0.057448,0.067748,0.077753,0.086891,0.088346,0.088593,0.094996,0.099180,...,0.843181,0.864886,0.902207,0.917489,0.929318,0.942218,0.942858,0.946751,0.951093,1.000000
SEX,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**TASK-7D: After the normalization process, please provide a correlation matrix to report the critical features that have high correlation (positive or negative) with the target array (CDRGLOB).**

In [11]:
data.corr()[(data.corr()>0.25) | (data.corr()<-0.25)][16:17].dropna(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

     INDEPEND   CDRGLOB  DEL      AGIT      DISN       MOT  NACCMMSE
DEL  0.258064  0.300995  1.0  0.299734  0.262004  0.270576  -0.27052

**TASK-7E: Please develop 3 distinct formulas (in other words derived features like BMI score) that involve the critical features in Part-7D and then ensure that these derived features could be used as predictive variables for CDRGLOB (again correlation analysis will give you insight).**

In [12]:
data["FORMUL1"] = ((0.6*(data["RLATVENT"]))+(0.3*(data["INDEPEND"]))/(data["NACCMMSE"]))
data["FORMUL2"]  = ((200-data["EDUC"]*0.5)+data["LLATVENT"]*2)/data["NACCMMSE"]*20+data["RINSULA"]
data["FORMUL3"] = (data["LLATVENT"]*2+50+(data["RSUPFR"]*0.5))/(data["NACCBMI"]*2+data["NACCAPOE"])
data[["FORMUL1","FORMUL2","FORMUL3","CDRGLOB"]].corr().iloc[-1:,:-1]

          FORMUL1   FORMUL2   FORMUL3
CDRGLOB  0.407951  0.667881  0.335568

**TASK-7F: Then please develop a machine learning model with the 3 derived features that you obtain in 7F via the use of train-test split (be careful about stratify parameter in this function) and gridsearchCV function as well as a classification algorithm (such as Gaussian Naive Bayes) but please do not forget to optimize its hyperparameters. Finally, please report your findings via the use of classification report function (also a sklearn function).**

In [13]:
df=pd.concat([data['FORMUL1'], data["FORMUL2"],data["FORMUL3"]], axis=1)
df

        FORMUL1     FORMUL2   FORMUL3
0      4.097140  145.120900  1.516908
1     33.813789  265.362105  1.875812
2      2.350345  144.882414  1.572996
3      6.508000  148.000000  1.357929
4     23.058971  205.531667  3.323511
...         ...         ...       ...
1349  13.933225  164.707845  1.812657
1350  33.744502  218.597696  2.773146
1351  14.308345  189.938966  2.571198
1352  13.564000  176.103333  1.452517
1353   7.120345  156.147931  1.826502

[1354 rows x 3 columns]

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(df,data["CDRGLOB"], random_state=0,     
                                  test_size=0.2)
model=DecisionTreeClassifier()
model.fit(X_train,y_train)                                                           
y_pred = model.predict(X_test)

param_grid = {'min_samples_split': [1,2,3,4,5],
    'min_samples_leaf': [2, 6, 10, 14, 19],
    'max_features' : [1,4,6,8,10]}


grid = GridSearchCV(model, param_grid, cv=10)                             
grid.fit(X_train, y_train)                                                 
print("Best parameters: ",grid.best_params_) 
print(" ")                                                
best_grid = grid.best_estimator_                                      
grid_best = best_grid.fit(X_train, y_train).predict(X_test)                                 

print("Accuracy score for default parameters: ",accuracy_score(y_test,y_pred));
print(" ")
print("Accuracy score for best parameters: ",accuracy_score(y_test,grid_best));
print(" ")


print(classification_report(y_test, y_pred));

Best parameters:  {'max_features': 1, 'min_samples_leaf': 19, 'min_samples_split': 4}

Accuracy score for default parameters:  0.5313653136531366

Accuracy score for best parameters:  0.6014760147601476

              precision    recall  f1-score   support

           0       0.69      0.68      0.68       128
           1       0.46      0.45      0.45       102
           2       0.24      0.28      0.26        32
           3       0.33      0.22      0.27         9

    accuracy                           0.53       271
   macro avg       0.43      0.41      0.42       271
weighted avg       0.53      0.53      0.53       271

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
1050 fits failed out of a total of 1250.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
250 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 254, in fit
    % self.min_samples_split
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

--------------------------------------------------------------------------------
800 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 308, in fit
    raise ValueError("max_features must be in (0, n_features]")
ValueError: max_features must be in (0, n_features]

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.56043153 0.58069147 0.57340299 0.54943085        nan
 0.55684676 0.55588685 0.56227489 0.56137445        nan 0.56331125
 0.56518858 0.57438838 0.56226639        nan 0.57441386 0.57619776
 0.57896704 0.58824329        nan 0.57244309 0.57622324 0.59469079
 0.55029732        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan]
  category=UserWarning,